@import "../../mixins.scss";

.header {
    position: fixed;
    transform: translateY(0);
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;
    z-index: 999;
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);

    &.top {
        background: rgba(0, 0, 0, 0.25);
    }

    &.show {
        background-color: var(--black3);
        background: rgba(0, 0, 0, 0.5);
    }

    &.hide {
        transform: translateY(-60px);
    }

    .menuItems {
        .menuItem {
            height: 60px;
            display: flex;
            align-items: center;
            margin: 0 15px;
            font-weight: 500;
            position: relative;
        }
    }



    .mobileMenuItems {
        transition: all 0.5s ease-in-out;
        opacity: 1;
    }

    .mobileView .mobileMenuItems {
        transform: translateY(0);
        opacity: 1;
    }

    &.mobileView {
        background: var(--black3);

        .menuItems {
            display: flex;
            position: absolute;
            top: 60px;
            left: 0;
            background: var(--black3);
            flex-direction: column;
            width: 100%;
            // padding: 20px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            animation: mobileMenu 0.3s ease forwards;

            .menuItem {
                font-size: 16px;
                width: 100%;
                height: auto;
                padding: 15px 20px;
                margin: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

@keyframes mobileMenu {
    0% {
        transform: translateY(-130%);
    }

    100% {
        transform: translateY(0);
    }
}